body {
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: #ffffff;
    color: #fff;
  }
  
  .input-container {
    width: 280px;
    position: relative;
  }
  
  .label {
    position: absolute;
    left: 10px;
    top: 14px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: rgb(0, 102, 255);
  }
  .text-input {
    padding: 0.8rem;
    width: 100%;
    height: 100%;
    border: 2px solid #13df00;
    background: #ffffff;
    border-radius: 5px;
    font-size: 18px;
    outline: none;
    transition: all 0.3s;
    color: #ff00f2;
  }
  
  .label::before {
    content: "";
    height: 5px;
    background: #ffffff;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
  }
  
  .text-input:focus {
    border: 2px solid #7e4ccb;
  }
  
  .text-input:focus + .label,
  .filled {
    top: -10px;
    color: #ff00f2;
    font-size: 14px;
  }
  
  .text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
  }
  .text-input:focus::placeholder {
    opacity: 1;
  }